<% @page_title = "Blog"%>

<%= image_tag("consa.png")  %>
<%= javascript_include_tag "jquery-1.2.3.min.js" %>
<%= javascript_include_tag "easySlider1.5.js" %>
<%= javascript_include_tag "jquery.easing.min.js" %>
<%= javascript_include_tag "jquery.lavalamp.min.js" %>

</div>