
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<% @page_title = "Home"%>
<%= javascript_include_tag "jquery.easing.min.js" %>
<%= javascript_include_tag "jquery.lavalamp.min.js" %>

	<script>
	  $(document).ready(function(){	
			$("#slider").easySlider({
				auto: true,
				continuous: true 
			});
		});	
	 </script>

</head>

<body>

  <div id="welcome">
    <h2>Who we are</h2> 
				<p>Information Systems & Security Solutions (IScube)  was established by a team of young entrepreneurs with strong background in Software Development as well as Information Security Consulting.  Two areas that we are focused on are Software Development (Ruby on Rails) and end-to-end Information Security Consulting.</p>				
			    <p>We understand our client's outsourcing needs to do more with less.  With high level of professionalism,  strong, and dedicated pool of individuals we are well poised to help you tackle challenges in IT Services and outsourcing.</p> 
			    <h2> Our Services </h2>
				<p><b>1) Software Development</b></p> 
			    <p>Having solid software development background on multiple technology platforms and across business verticals worldwide, ISCube has been providing Information Systems, Software Applications and Training.  To meet distinct needs of your business, we have built up our software development team on Ruby on Rails that provides specialized services and solutions.</p> 
			    <p><b>2) Information Security Consulting</b></p> 
			    <p>We provide end-to-end information security management services on-site as well as off-site. Supported by strong leadership and passion for Information Security, our professionals have provided comfort and assurance to clients all across globe. Our Information Security Consulting Services span all sizes and types of business verticals including e-Governance, IT, Supply Chain Management, BFSI and many others.</p> 
    	
  </div>
  
  <div id="latestnews">
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;News</h3> 
	<br/>
				<marquee behavior="" onmouseover="this.stop()"  onmouseout="this.start()" width="100%" height="180" direction="up" scrollamount="3"> 
					
						
					<p style="color:brown;text-align:left">After 600+ Hours of training on Ruby on Rails (RoR), our professionals start application development on RoR.</p> 
					
				<p style="color:brown;text-align:left">IScube adds one more satisfied client to its list. </p> 
					
				<p style="color:brown;text-align:left">ISCube successfully completes ICT Review Audit for a Quasi-Government Department in Zambia, Africa in association with Valiant Technologies. (Sept. '12)</p> 
 
 
				<p style="color:brown;text-align:left">ISCube starts ISO27001 consultancy for one of the largest Supply Chain Management Company based in Mumbai in association with Valiant Technologies. (Oct. '12)</p> 
			
				</marquee> 
 
				<br/>
				<br/>
				<br/>
				
				
				<h3>&nbsp;&nbsp;&nbsp;&nbsp;Publications</h3> 
				<br/>
				<marquee behavior="" onmouseover="this.stop()"  onmouseout="this.start()" width="100%" height="150" direction="up" scrollamount="3"> 
 
					<p style="color:brown;text-align:left">CifrarFS - An Encrypted File System using FUSE</p> 
				
					<p style="color:brown;text-align:left">Cache Coherency in Distributed File System</p> 
 
					<p style="color:brown;text-align:left">An Overview of Registration based and Registration Free methods for Cancellable Fingerprint Template</p> 
					<p style="color:brown;text-align:left">A Survey on Document Mining</p> 
					<p style="color:brown;text-align:left">Identifying Context of Text Documents using Nave Bayes Classifier and Apriori Association Rule Mining</p> 
 
 
					
				</marquee> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to('Read more...', :controller=>"main", :action=>"news")%>
				
    </div>    <!--end of news_pub --> 

</div>

</body>
<%= javascript_include_tag "jquery-1.2.3.min.js" %>
<%= javascript_include_tag "easySlider1.5.js" %>
<%= javascript_include_tag "jquery.easing.min.js" %>
<%= javascript_include_tag "jquery.lavalamp.min.js" %>

</html>