<% @page_title = "News"%>
	<div id="news_pub">
		 <div id = "text1">
		<span><%= image_tag("news.png")%></span>
	<marquee behavior="scroll" onmouseover="this.stop()"  onmouseout="this.start()" width="90%" height="35" direction="left" >
					
						
					<p style="color:brown;text-align:left;">After 600+ Hours of training on Ruby on Rails (RoR), our professionals start application development on RoR.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
				IScube adds one more satisfied client to its list.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
				ISCube successfully completes ICT Review Audit for a Quasi-Government Department in Zambia, Africa in association with Valiant Technologies. (Sept. ’12) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				ISCube starts ISO27001 consultancy for one of the largest Supply Chain Management Company based in Mumbai in association with Valiant Technologies. (Oct. ’12)</p>
			</marquee>

</div>
</br>
		<!--<p>1.&nbsp;After 600+ Hours of training on Ruby on Rails (RoR), our professionals start application development on RoR.</p>	
				<p>2.&nbsp;IScube adds one more satisfied client to its list.</p>	
				<p>3.&nbsp;ISCube successfully completes ICT Review Audit for a Quasi-Government Department in Zambia, Africa in association with Valiant Technologies. (Sept. ’12)</p>
				<p>4.&nbsp;ISCube starts ISO27001 consultancy for one of the largest Supply Chain Management Company based in Mumbai in association with Valiant Technologies. (Oct. ’12)</p>

-->

				<ol>
					<li><p>After 600+ Hours of training on Ruby on Rails (RoR), our professionals start application development on RoR.</p></li>	
				<li><p>IScube adds one more satisfied client to its list.</p></li>	
				<li><p>ISCube successfully completes ICT Review Audit for a Quasi-Government Department in Zambia, Africa in association with Valiant Technologies. (Sept. ’12)</p></li>	
				<li><p>ISCube starts ISO27001 consultancy for one of the largest Supply Chain Management Company based in Mumbai in association with Valiant Technologies. (Oct. ’12)</p></li>	
			</ol>


			</br>
				<b><h2>Publications</h2></b>

				<ol>
			
<li><p>CifrarFS – An Encrypted File System using FUSE<sub>(International Journal of Computer Science and Security, Vol 3, Issue 4, 2009)
 </sub></p></li>	


<li><p>Cache Coherency in Distributed File System
<sub>(International Journal of Computer Science and Security, Vol 4, Issue 1, 2010)

 </sub></p></li>	

<li><p>An Overview of Registration based and Registration Free methods for Cancellable Fingerprint Template
 <sub>(International Journal of Computer Science and Security, Vol 4, Issue 1, 2010)

 </sub></p></li>	


<li><p>A Survey on Document Mining
<sub>(ICEEE 2011, Nagpur, India pp 308-313)

 </sub></p></li>	


<li><p>Identifying Context of Text Documents using Naïve Bayes Classifier and Apriori Association Rule Mining <sub>(CONSEG 2012, Indore, India, pp 207-211)

 </sub></p></li>	
</ol>

<p style="text-align:right;"><b>Author Name: Anagha Kulkarni</b></p>



 </br>

		<!-- end of sub_about_us --> 
	</div>

	<!-- end of main_about_us -->
	</div>
	
<%= javascript_include_tag "jquery-1.2.3.min.js" %>
<%= javascript_include_tag "easySlider1.5.js" %>
<%= javascript_include_tag "jquery.easing.min.js" %>
<%= javascript_include_tag "jquery.lavalamp.min.js" %>	