<% @page_title = "Services"%>
		
	<div id="main_services">
			<div id="sw_services">		
			<h3> Software Services</h3>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ISCube helps clients stay ahead of the rapidly &nbsp;&nbsp;changing business and technology landscape with &nbsp;&nbsp;a wide range of customized software application &nbsp;&nbsp;development services.</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our custom software application development &nbsp;&nbsp;services cover a broad spectrum of technology &nbsp;&nbsp;areas.  </p>

			               
			<p style="text-align:right">
			<%= link_to('Read more...', :contrller=>'main', :action => 'all_services', :id=>'read')%>
	
			</div>
			<!-- end of sw_services-->
			
			<div id="security_services">	
			<h3> Security Services</h3>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our consulting group has over 10 years of &nbsp;&nbsp;experience in the fields of information security &nbsp;&nbsp;providing discreet and confidential information &nbsp;&nbsp;security services.</p><p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We provide expert information security advice &nbsp;&nbsp;and guidance to a wide range of clients ensuring &nbsp;&nbsp;their &nbsp;&nbsp;information is secure.</p>
			
			
			<p style="text-align:right">
			<%= link_to('Read more...', :contrller=>'main', :action => 'all_services', :id=>'read')%></div>
			<!-- end of security_services-->
			
			<div id="policy_mgmt">	
			<h3> Policy Management</h3>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We provide easy-to-read, clear and concise &nbsp;&nbsp;Information Security Policies that reduce corporate &nbsp;risk of financial and data loss or damage from &nbsp;&nbsp;human actions.</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An Information Security Policy document leads &nbsp;&nbsp;to detail procedure document and logical &nbsp;&nbsp;description of procedures</p>			
			<p style="text-align:right">
			<%= link_to('Read more...', :contrller=>'main', :action => 'all_services', :id=>'read')%></div>
			<!-- end of policy_mgmt-->

			<div id="risk_vl">	
			<h3> Risk &amp; Vulnerability </h3>	
			<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No information security strategy is complete &nbsp;&nbsp;without providing the ability for an organization to &nbsp;&nbsp;perform vulnerability assessments and risk &nbsp;&nbsp;management.</P><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We at ISCube have extensive experience in &nbsp;&nbsp;these critical areas and provide services to help &nbsp;&nbsp;you manage risk in a cost-effective.</p>
			<p style="text-align:right">
			<%= link_to('Read more...', :contrller=>'main', :action => 'all_services', :id=>'read')%>
			</div><!-- end of rist_vl-->

			<div id="isms">	
			<h3> ISMS</h3>	
			<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ISO 27001 being the implementation standard &nbsp;&nbsp;against which certification is achieved, we provide &nbsp;&nbsp;services that include.. </P><p>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gap Analysis ? Addressing your information &nbsp;&nbsp;security management system against the &nbsp;&nbsp;requirements of ISO 27001 standard providing a &nbsp;&nbsp;plan to achieve compliance.</p>
		
			<p style="text-align:right">
			<%= link_to('Read more...', :contrller=>'main', :action => 'all_services', :id=>'read')%>
			</div><!-- end of isms-->

			<div id="is_audit">	
			<h3> IS Audit</h3>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We provide a comprehensive service to review &nbsp;&nbsp;security risks, procedures and system &nbsp;&nbsp;implementation against legislative, regulatory and &nbsp;&nbsp;business requirements to confirm that controls are &nbsp;&nbsp;effective and appropriate.</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our services cover all aspects of IS auditing &nbsp;&nbsp;including?</p>
			
			<p style="text-align:right">
			<%= link_to('Read more...', :contrller=>'main', :action => 'all_services', :id=>'read')%>
			</div><!-- end of is_audit-->


	</div><!-- end of main_services -->
	</div>
	
<%= javascript_include_tag "jquery-1.2.3.min.js" %>
<%= javascript_include_tag "easySlider1.5.js" %>
<%= javascript_include_tag "jquery.easing.min.js" %>
<%= javascript_include_tag "jquery.lavalamp.min.js" %>	